@charset "UTF-8";

/* 基本設定 */
*{
font-family:Verdana, Helvetica, sans-serif;
color:#333;
}

BODY{
margin:0;
padding:0;
font-size:0.8em;
text-align:center;
line-height:1.4em;
letter-spacing:1px;
  
}

br{
letter-spacing:normal;
}

a{
color:#333;
text-decoration:none;
}

a:hover{
color:#9D2873;
text-decoration:none;
}

img{
border:0;
}

h1,h2,h3,h4,h5,h6{
margin:0;
}

/* 基本フレームワーク */
div#wrapper  {
width:760px;
margin:0 auto;
text-align:left;
padding:20px 10px 0 10px;
background:#fff url(http://www.ku-taiikurengoukai.jp/club/image/bg.gif) 50% 50% repeat-y fixed;
}

div#header   {
width:720px;
height:120px;
margin:0 20px;
background:#fff url(http://www.ku-taiikurengoukai.jp/club/image/bg-header-inner.jpg) 0% 0% no-repeat;
background-position:right;
}

div#menu{
width:720px;
margin:0 20px;
padding-bottom:20px;
background:#fff url(http://www.ku-taiikurengoukai.jp/club/image/bg_contents_head.gif) 100% 100% no-repeat;
}

div#menu2{
width:720px;
margin:0 20px;
padding-bottom:20px;
background:#fff url(http://www.ku-taiikurengoukai.jp/club/image/bg_contents2_head.gif) 100% 100% no-repeat;
}

div#contents {
width:720px;
clear:both;
margin:0 20px;
background:#fff url(http://www.ku-taiikurengoukai.jp/club/image/bg_contents.gif) repeat-y;
border-bottom:1px solid #C3C3C3;
}

div#contents2 {
width:720px;
clear:both;
margin:0 20px;
background:#fff url(http://www.ku-taiikurengoukai.jp/club/image/bg_category.gif) repeat-y;
border-bottom:1px solid #C3C3C3;
}

div#contents3 {
width:720px;
clear:both;
margin:0 20px;
background:#fff url(http://www.ku-taiikurengoukai.jp/club/image/bg_category.gif) repeat-y;
border-bottom:1px solid #C3C3C3;
}

div#main{
width:480px;
float:left;
padding:0 10px;
}

div#main2{
width:480px;
float:left;
padding:0 10px;
}


div#sub{
width:200px;
float:right;
padding:0 10px;
}

div#footer{
width:700px;
padding:15px;
clear:both;
}

/* 回り込み解除 */
div#menu:after,
div#contents:after{
content:"";
display:block;
height:0;
clear:both;
visibility:hidden;
}

div#menu2:after,
div#contents2:after{
content:"";
display:block;
height:0;
clear:both;
visibility:hidden;
}

/* ヘッダー */
div#header h1{
font-size:2em;
margin:0;
padding:10px;
}

div#header p{
margin:0;
padding:10px;
font-size:1em;
color:#000066;
}

div#contents {
width:720px;
clear:both;
margin:0 20px;
background:#fff url(http://www.ku-taiikurengoukai.jp/club/image/bg_contents.gif) repeat-y;
background-position:0px;
border-bottom:1px solid #C3C3C3;
}

div#contents2 {
width:720px;
clear:both;
margin:0 20px;
background:#fff url(http://www.ku-taiikurengoukai.jp/club/image/bg_category.gif) repeat-y;
background-position:0px;
border-bottom:1px solid #C3C3C3;
}

/* ヘッダーカスタマイズ */
div#header h2{
font-size:1.5em;
margin:0px 0px 0px 20px;
padding:5px;
width:200px;
border-style:solid;
border-color:#ff9900;
border-width:0px 0px 1px 6px;
}

div#header h3{
font-size:1.5em;
margin:0px 0px 0px 40px;
padding:5px;
width:200px;
border-style:solid;
border-color:#ff9900;
border-width:0px 0px 1px 6px;
}

/* メニュー */
div#menu ul {
margin:0;
padding:0;
}

div#menu li {
list-style-type:none;
float:left;
text-align:center;
margin:0;
padding:0;
}

div#menu li a{
display:block;
width:120px;
background:#666;
line-height:40px;
border-top:1px solid #C3C3C3;
border-bottom:1px solid #C3C3C3;
}

div#menu li a:hover{
background:#9F1D20;
}

/* メニューカスタマイズ */
div#menu ul{
	list-style-type:none;
	}
div#menu ul li{
	font-size:14px;
	letter-spacing:1px;
	float:left;
	width:120px;
	height:30px;
	position:relative;
	}
div#menu ul li a{
	color:#ffffff;
	text-decoration:none;
	display:block;
	font:14px;
	width:120px;
	height:30px;
	line-height:30px;
	text-align:center;
	}
div#menu ul li a:hover{
	color:#fff;
	}
div#menu ul li.off{
	overflow:hidden;
	width:120px;
	border-bottom:1px solid #666;
	}
div#menu ul li.off ol.sub{
	left:0px;
	top:-999px;
	}
div#menu ul ol.sub{
	position:absolute;
	left:0px;
	top:30px;
	width:120px;
	text-align:center;
	list-style-type:none;
	}
div#menu ul li.on{
	width:120px;
	border-bottom:1px solid #666;
	}
div#menu ul>li.on{
	overflow:visible;/*×*/

	}
div#menu ul ol.sub li{
	float:none;
	width:120px;
	height:30px;
	line-height:30px;
	text-align:center;
	margin-top:1px
	float:none;
	filter:alpha(opacity=82); /*IE*/
	-moz-opacity:0.82; /*FF*/
	}
div#menu ul ol.sub li a{
	background-color:#FFFFFF;
	text-decoration:none;
	color:#000000;
	vertical-align:middle;
	font-size:12px;
	height:30px;
	line-height:30px;
	text-align:center;
	}
div#menu ul ol.sub li a:hover{
	background-color:#9D2873;
	color:#000000;
	border-bottom:1px solid #666;
	}

.line{
	clear:left;
	margin:1px 0 0 0;
	}

/* メニュー2 */
div#menu2 ul {
margin:0;
padding:0;
}

div#menu2 li {
list-style-type:none;
float:left;
text-align:center;
margin:0;
padding:0;
}

div#menu2 li a{
display:block;
width:120px;
background:#666;
line-height:40px;
border-top:1px solid #C3C3C3;
border-bottom:1px solid #C3C3C3;
}

div#menu2 li a:hover{
background:#9F1D20;
}

/* メニューカスタマイズ2 */
div#menu2 ul{
	list-style-type:none;
	}
div#menu2 ul li{
	font-size:14px;
	letter-spacing:1px;
	float:left;
	width:120px;
	height:30px;
	position:relative;
	}
div#menu2 ul li a{
	color:#ffffff;
	text-decoration:none;
	display:block;
	font:14px;
	width:120px;
	height:30px;
	line-height:30px;
	text-align:center;
	}
div#menu2 ul li a:hover{
	color:#fff;
	}
div#menu2 ul li.off{
	overflow:hidden;
	width:120px;
	border-bottom:1px solid #666;
	}
div#menu2 ul li.off ol.sub{
	left:0px;
	top:-999px;
	}
div#menu2 ul ol.sub{
	position:absolute;
	left:0px;
	top:30px;
	width:120px;
	text-align:center;
	list-style-type:none;
	}
div#menu2 ul li.on{
	width:120px;
	border-bottom:1px solid #666;
	}
div#menu2 ul>li.on{
	overflow:visible;/*×*/

	}
div#menu2 ul ol.sub li{
	float:none;
	width:120px;
	height:30px;
	line-height:30px;
	text-align:center;
	margin-top:1px
	float:none;
	filter:alpha(opacity=82); /*IE*/
	-moz-opacity:0.82; /*FF*/
	}
	div#menu2 ul ol.sub li a{
	background-color:#ffffff;
	text-decoration:none;
	color:#000000;
	vertical-align:middle;
	font-size:12px;
	height:30px;
	line-height:30px;
	text-align:center;
	}
	div#menu2 ul ol.sub li a:hover{
	background-color:#9D2873;
	color:#000000;
	border-bottom:1px solid #666;
	}

.line{
	clear:left;
	margin: 1px 0 0 0;
	}

/* メインコンテンツ */
div#main a{
border-bottom:1px dotted #333;
}

div#main a:hover{
border:0;
color:#666;
}

div#main h2 {
font-size:1em;
color:#fff;
padding:5px;
font-weight:bold;
background:#666;
border-bottom:2px solid #9F1D20;
margin-bottom:2px;
}

div#main h3 {
margin-bottom:2px;
font-size:1em;
color:#000099;
border-bottom:1px solid #333;
}

div#main p{
margin:0 0 1em 0;
}

/* メイン2コンテンツ */
div#main2 a {
font-size:14px;
padding:5px 5px 5px 5px;
}

div#main2 a:hover{
color:#ffffff;
background:#fffff;
}

div#main2 h2 {
font-size:20px;
background-color:#ffcccc;
padding:5px 5px 2px 5px;
}

div#main2 h3 {
margin-bottom:2px;
font-size:1em;
color:#000099;
border-bottom:1px solid #333;
}

div#main2 p {
font-size:9px;
line-height:1.2em
padding:0px 5px 5px 5px;
}

div#main2 {
margin:10px 10px;
position:relative 20px 20px;
}

div#main p{
margin:0 0 1em 0;
}

/* サブコンテンツ */
div#sub a{
border-bottom:1px dotted #333;
}

div#sub a:hover{
border:0;
color:#666;
}

div#sub h2 {
font-size:1em;
color:#fff;
padding:2px;
font-weight:bold;
background:#666;
border-bottom:2px solid #9F1D20;
margin-bottom:2px;
}

div#sub h3 {
margin-bottom:2px;
color:#000099;
font-size:1em;
border-bottom:1px solid #333;
}

div#sub h4 {
margin-bottom:2px;
color:#000000;
background-color:#ffffcc;
font-size:1em;
border-bottom:1px solid #333;
}

div#sub p{
margin:0 0 1em 0;
font-size:0.8em;
}

div#sub dl,dt,dd{
margin:0;
font-size:0.9em;
}

div#sub dt{
font-weight:bold;
}

/* フッター */
address{
background:#fff;
color:#333;
text-align:center;
font-size:0.8em;
}

/* kanjiカスタマイズ */
div#kanji {
text-align:center;
margin:0;
}

div#kanji h1{
font-size:1.5em;
color:#fff;
background-color:#000099;
margin:0;
padding:2px;
}

div#kanji h2{
font-size:1.2em;
color:#000000;
background-color:#ffffcc;
margin:0;
padding:2px;
}

div#kanji p{
font-size:1.2em;
margin:0;
padding:2px;
}

/* 所属部会 */
div#bukai li {
list-style:none;
float:left;
display:inline;　*/IE6に必要*/
margin:0px 5px 5px 0px;
}

/* 所属部会PR */
div#bukai_contents {
width:680px;
background:#cccccc;
margin:5px;
}

div#bukai_photo {
width:320px;
margin:5px 5px 5px 5px;
float:left;
}

div#bukai_photo p{
font-size:14px;
float:left;
}

div#bukai_header a:hover{
color:#ffffff;
text-decoration:none;
}

div#bukai_header h1 {
width:680px;
font-size:2em;
color:#fff;
background-color:#000066;
border-bottom:#cc00cc 3px solid;
margin:0px;
padding:10px 0px 0px 0px;
}

div#bukai_header p {
font-size:1.5em;
color:#000;
margin:8px 0px 0px 0px;
padding:0px;
}

div#bukai_pr {
width:340px;
margin:0 auto;
text-align:left;
padding:5px 5px 10px 5px;
float:right;
}

div#bukai_pr h2 {
font-size:1.5em;
color:#000;
margin:5px 0px 0px 0px;
border-left:#990033 12px solid;
border-bottom:#990033 1px solid;
padding:4px 4px 2px 0px;
}

div#bukai_pr p {
font-size:1em;
color:#000;
margin:8px 0px 0px 0px;
padding:0px;
}

div#bukai_footer {
width:680px;
margin:20px 0px 0px 0px;
background:#000066;
padding;0px ;
}


div#bukai_footer li {
list-style:none;
margin:4px 3px 0px 3px;
float:left;
}